@import "../../templates/variables";

.MainBtnClass,
.ColoredBtnClass {
  width: 220px;
  height: 70px;
  margin: 120px 40px 0 0;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
}
.MainBtnClass {
  background-color: rgba(255, 255, 255, 0);
  border-color: white;
  border: 4px solid;
}
.ColoredBtnClass {
  background-color: #00897b;
  border: 4px solid #00897b;
}
