@import "../../variables";

.headline {
  padding-top: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  border: none;
}

