@import "../../variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(./images/top-fon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 740px;
}
.main__title {
  font-size: 70px;
}
.main__subtitle {
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
