@import "../../templates/variables";

.Main_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(./images/top-fon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 740px;
}
.Main_title__title {
  font-size: 70px;
}
.Main_title__subtitle {
  font-size: 30px;
}
