@import "../../variables.scss";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 40px;
}
.header__nav-bar {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
