.contacts {
  background: rgba(34, 35, 33, 0.72);
}

.contacts .card {
  background: rgba(34, 35, 33, 0);
  color: #ffffff;
}
.card img {
  padding-bottom: 40px;
}
.button__form {
  font-size: 20px;
  width: 160px;
  height: 55px;
}
.contacts__title {
  color: #ffffff;
  padding-bottom: 40px;
}
.contacts h2 {
  font-size: 22px;
}
.contacts p {
  font-size: 22px;
}
.form-control {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}
