@import "../../variables.scss";

.nav {
  &__list {
    display: flex;
    column-gap: 20px;
    margin-bottom: 0;
    align-items: center;
  }

  &__link {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $navLinkColor;
  }
}
